# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/gson-2.8.2.jar
/json-20180813.jar
/.idea/misc.xml
/.idea/modules.xml
/.idea/uiDesigner.xml
/.idea/project-40.iml
/.idea/workspace.xml
/users/
/listOfUserName.txt
/.idea/dictionaries/ahak.xml
/.idea/libraries/json_20180813.xml
/.idea/encodings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/libraries/gson_2_8_2.xml
